*.iml
.gradle
/local.properties
/.idea/.name
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/other.xml
/.project
.DS_Store
/build
/captures
release
.externalNativeBuild
.cxx
